---
import { Icon } from "astro-icon/components";
---

<section class="my-24 bg-gray-100 py-12 text-white">
	<div class="container mx-auto px-4">
		<div
			class="flex flex-col items-center justify-center space-y-4 text-center"
		>
			<Icon name="heart-handshake" size={48} class="text-musgo" />
			<h2 class="text-2xl font-bold text-accent md:text-3xl lg:text-4xl">
				Tu bienestar emocional es mi prioridad
			</h2>
			<div class="h-1 w-24 bg-musgo"></div>
		</div>
	</div>
</section>
